@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
     cursor: grab;
}
a{
  cursor: pointer;
}

body{
  color: #ededed;
  background-color: #081B29;
 
}

.header{
  position:fixed;
  top:0;
  left :0;
  width: 100%;
  padding: 10px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #081B29;
  position: fixed;
}

.name{
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  margin-left: 50px;cursor: pointer;
}

.name i{
  color: #00abf0;
  filter: drop-shadow(0px 0px 20px );
  margin: 15px 50px 0px 15px;
}

.name::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081B29;
  animation: ShowRight 1s ease forwards;
  animation-delay: .2s;
}

.navbar a{
 font-size: 18px;
 color:#ededed;
 text-decoration: none;
 font-weight: 500;
 margin-right: 30px;
 transition: 3s;
 padding: 20px 0;
}

.navbar a::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081B29;
  animation: ShowRight 1s ease forwards;
  animation-delay: .3s;
}

.navbar a:hover,
.navbar a.active{
  color:#00abf0;
}
.Profil{
  height: 90vh;
  background: url(../img/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.about-box{
  position: absolute;
  top: 120px;
  right:40px;
  left: 50px;
  font-size: 20px;
}

.about-box h2,.about-Lange h2 ,.about-code h2 ,.about-permi h2 {
  color: #00abf0;
  font-size: 40px;
  font-weight: 800;
}

.about-box h2::before,.about-Lange h2::before ,.about-code h2::before ,.about-permi h2::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081B29;
  animation: ShowRight 1s ease forwards;
  animation-delay: 0.5s;
}

.about-box::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081B29;
  animation: ShowRight 1s ease forwards;
  animation-delay: 1.2s;
}

.about-Lange{
  width: 80%;
  margin: 30px auto;
}

.about-Lange h2 {
position: absolute;
top:250px;
left: 50px;
color: #00aaff;
}

.skill-lange{
  position: absolute;
  top:300px;
  margin-bottom: 12px;
  background: #00aaff;
  border-radius: 10px;
  position: relative;
  height: 25px;
  overflow: hidden;
   border: #00aaff 1px solid;
  
}

.skill-lange::before {
  content: attr(data-skill) " - " attr(data-level) "%";
  position: absolute;
  left: 450px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.about-code{
  width: 80%;
  margin: 30px auto;
}

.about-code h2 {
position: absolute;
top:440px;
left: 50px;
color: #00aaff;
}

.skill-code{
  position: absolute;
  top:350px;
  margin-bottom: 12px;
  background: #00aaff;
  border-radius: 10px;
  position: relative;
  height: 25px;
  overflow: hidden;
  border: #00aaff 1px solid;
}

.skill-code::before {
  content: attr(data-skill) " - " attr(data-level) "%";
  position: absolute;
  left: 450px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.skill-fill {
  height: 100%;
  width: 0%;
  background: #081B29;
  border-radius: 10px;
  transition: width 1.5s ease;
}


.about-permi{
  width: 80%;
  margin: 30px auto;
}

.about-permi h2 {
position: absolute;
top:700px;
left: 50px;
color: #00aaff;
}

.A{
  box-shadow: 0 0 10px #00aaff;
  position: absolute;
  top:800px;
  left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 20px 60px;
  font-size: 30px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

.A1{
  box-shadow: 0 0 10px #00aaff;
  position: absolute;
  top:800px;
  left: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 20px 60px;
  font-size: 30px;
   border-radius: 20px;
   color: white;
   font-weight: 700;
}

.B{
 box-shadow: 0 0 10px #00aaff;
  position: absolute;
  top:800px;
  left: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 20px 60px;
  font-size: 30px;
   border-radius: 20px;
   color: white;
   font-weight: 700;
}

.space{
  margin-bottom: 600px;
  color: #00aaff00;
}
    
@keyframes ShowRight{
  100%{
    width: 0;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: 10px;
    font-size: 16px;
  }
  
  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
